.tued-rendering-canvas {
    display: none;

    &.tued-rendering-canvas-showed {
        display: block;

        &:before {
            content: "RENDERING PREVIEW";
            text-align: center;
            background-color: #ddd;
            color: #000;
            display: block;
            padding: 10px;
            margin: 0 auto 20px;
        }
    }
}
