.tued-element-actions {
    z-index: 999;
    position: absolute;
    font-size: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 0;

    .tued-element-action {
        display: inline-block;
        padding: 2px 0;
        color: #fff;
        font-size: 12px;
        width: 27px;
        text-align: center;
        border-left: 1px solid #ddd;
        background-color: #0088cc;

        &:first-child {
            border: none;
            border-radius: 4px 0 0 0;
        }
        &:last-child {
            border-radius: 0 4px 0 0;
        }

        &:hover {
            cursor: pointer;
            background-color: #045b88;
        }
    }
}
