.tued-element-boundaries {
    display: block;
    z-index: 1;
    position: absolute;
    left: 100px;
    top: 100px;
    border: 1px solid rgba(0,136,204,.6);
    border-radius: 0 3px 3px 3px;
    pointer-events: none;
    width: 200px;
    height: 100px;
    box-shadow: 0 0 5px rgba(0,136,204,.5);

    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,136,204,.05);
    }

    &.tued-element-hovered-boundaries {
        background-color: rgba(0,136,204,.04);
        border-color: rgba(0,136,204,.3);
        box-shadow: none;
        border-radius: 3px;
    }

    &.tued-element-hovered-boundaries:before {
        background-color: transparent;
    }

    &.tued-element-hovered-boundaries:hover {
        cursor: pointer;
    }

    &.tued-element-focused:before {
        background-color: transparent;
    }

    .tued-node-name {
        position: absolute;
        left: -1px;
        top: -20px;
        height: 20px;
        padding: 0 8px;
        line-height: 20px;
        color: #fff;
        background-color: $primary;
        border-radius: 3px 3px 0 0;
        text-transform: uppercase;
        font-size: 11px;
    }
}
