.tued-structure {
    margin: 40px 0;

    .tued-structure-empty-element {
        border: 1px dashed #e8e8e8;
        border-radius: 5px;
        padding: 0 25px;
        text-align: center;
        transition: .12s all;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.2);
        font-size: 13px;
        font-style: italic;
        pointer-events: none;
        margin: 10px 0;
        height: calc(100% - 20px);
        position: relative;

        span {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .tued-structure-new-element {
        border: 2px dashed #c5c5c5;
        border-radius: 5px;
        padding: 5px;
        text-align: center;
        transition: .12s all;
        margin: 20px;

        &:hover {
            cursor: pointer;
            border-color: #9b9b9b;
            background-color: #f1f1f1;
        }
    }
}
