.tued-structure {
    margin: 40px 0;

    .tued-structure-new-element {
        border: 2px dashed #c5c5c5;
        border-radius: 5px;
        padding: 5px;
        text-align: center;
        transition: .12s all;
        margin: 20px;

        &:hover {
            cursor: pointer;
            border-color: #9b9b9b;
            background-color: #f1f1f1;
        }
    }
}
