.tued-block-selector {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;

    .tued-block-item {
        flex: 0 0 100%;
        max-width: 100%;

        svg {
            display: inline-block;
            max-width: 200px;
        }
    }
}
