@import "tulia-editor.reset";
@import "editor/variables";
@import "editor/canvas";
@import "editor/sidebar";
@import "editor/rendering";
@import "editor/quill-editor";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.tued-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    height: auto !important;
}
