aside .lead-menu {margin-bottom:30px;}
aside .lead-menu ul,
aside .lead-menu ul li {display:block;list-style:none;padding:0;margin:0;position:relative;}
aside .lead-menu ul li:before {display:block;content:"";position:absolute;left:0;top:0;bottom:0;width:4px;background-color:$color-primary;opacity:0;}
aside .lead-menu ul li a {display:block;color:#fff;padding:12px 10px;font-size:15px;line-height:1.3;width: 100%;position:relative;transition:.12s all;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
aside .lead-menu ul li a:hover {background-color:rgba(255,255,255,.1);padding-left:15px}
aside .lead-menu li.item-has-icon > a {padding-left:50px}
aside .lead-menu li.item-has-icon > a > .item-icon {display:block;font-size:17px;width:20px;height:20px;text-align:center;position:absolute;left:13px;top:50%;transform:translateY(-50%);}
aside .lead-menu li.item-has-icon > a:hover {padding-left:55px}

aside .lead-menu li.headline {color:#fff;text-transform:uppercase;padding:0 0 0 15px;font-size:11px;margin-bottom:13px;font-weight:200;opacity:.5;max-width:100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

aside .lead-menu li.separator {margin:15px 0;}
aside .lead-menu li.separator:before {display:block;content:"";height:1px;background-color:rgba(255,255,255,.2)}

aside .lead-menu li.has-dropdown > a {padding-right:33px}
aside .lead-menu li.has-dropdown > a:before {display:block;position:absolute;top:50%;right:19px;transform:translateY(-50%);content:"\f078";font-family:$base-font-awesome;color:#fff;font-size:15px;font-weight:bold;transition:.12s all}
aside .lead-menu li.has-dropdown > .dropdown {display:none;}
aside .lead-menu li.has-dropdown > .dropdown a {padding-left:51px;font-size:13px}
aside .lead-menu li.has-dropdown > .dropdown .dropdown a {padding-left:45px}
aside .lead-menu li.has-dropdown > .dropdown .dropdown .dropdown a {padding-left:67px}
aside .lead-menu li.has-dropdown > .dropdown .dropdown .dropdown .dropdown a {padding-left:89px}

aside .lead-menu li.has-dropdown.dropdown-opened > a:before {transform:translateY(-50%) rotate(180deg);}
aside .lead-menu li.has-dropdown.dropdown-opened > .dropdown {display:block;overflow:hidden;position:relative;}
aside .lead-menu li.has-dropdown.dropdown-opened.animated > .dropdown > li {animation-name:fadeInRight;animation-iteration-count:1;animation-duration:.22s}

aside .lead-menu .item-badge {display:block;position:absolute;top:50%;right:40px;transform:translateY(-50%);font-weight:normal;}

aside .lead-menu li.active:before {opacity:1;}
aside .lead-menu li.active > a {background-color:rgba(255,255,255,.1);}

@media only screen and (max-width: 1100px) and (min-width: 769px) {
    /*aside .lead-menu li.has-dropdown > .dropdown {display: none !important;}
    aside .lead-menu li.has-dropdown > a:before {display: none !important;}
    aside .lead-menu li.item-has-icon > a > .item-icon {left: 20px;}
    aside .lead-menu ul li a {height: 44px;}
    aside .lead-menu .item-label {display: none !important;}
    aside .lead-menu li.headline {display:none}
    aside .lead-menu li.separator {font-size: 0;background-color: rgba(255,255,255,.05);height: 2px;padding:0;margin: 5px 0;}*/

    aside:not(:hover) {
        .lead-menu li.has-dropdown > .dropdown {display: none !important;}
        .lead-menu li.has-dropdown > a:before {display: none !important;}
        .lead-menu li.headline {display: none !important;}
    }
}
