body .ql-container.ql-snow {
    border-radius: 0 0 4px 4px;
    border: 1px solid #d6dce4;
}
body .ql-toolbar.ql-snow {
    border-radius: 4px 4px 0 0;
    border: 1px solid #d6dce4;
}

.quill-editor-preview .ql-editor {
    font-size: 15px;
}
