.tued-block-selector {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;

    .tued-block-item {
        flex: 0 0 197px;
        max-width: 197px;
        padding: 5px;

        .tued-block-item-inner {
            padding: 5px;
            border: 1px solid #dedede;
            border-radius: 5px;
            transition: .12s all;
            box-shadow: 0 0 0 0 rgba(0,0,0,.1);

            &:hover {
                border-color: #c3c3c3;
                cursor: pointer;
                box-shadow: 0 0 2px 2px rgba(0,0,0,.05);
            }

            img {
                display: inline-block;
            }
            span {
                display: block;
                text-align: center;
                padding: 3px;
            }
        }
    }
}
