.tued-sidebar {
    bottom: 200px;
}

.tued-canvas .tued-canvas-inner {
    bottom: 200px;
}

.tued-debugbar {
    position: fixed;
    height: 200px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 250;
    border-top: 1px solid #ddd;
    box-shadow: 4px 4px rgba(0,0,0,.1);

    .nav-tabs .nav-link {
        padding: 4px 11px;
    }
}

