.tued-main-window {
    display: block;
    margin-bottom: 30px;
    margin-right: -13px;
    margin-left: -13px;
    margin-top: -16px;

    .tued-header {
        background-color: #f7f7f7;
        border: 1px solid #d6dce4;
        border-left: none;
        border-right: none;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .tued-preview-headline {
            color: #333;
            font-size: 17px;
            margin-left: 10px;

            .tued-logo {
                color: #333;
                font-weight: bold;
                display: inline-block;
            }
        }
    }

    .tued-preview {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
    }
}
