.tued-sidebar {
    position: absolute;
    z-index: 200;
    width: 320px;
    top: 0;
    bottom: 0;
    right: 0;
    border-left: 1px solid #ddd;
    background-color: #fff;

    .tued-sidebar-inner {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        overflow: auto;

        .tued-sidebar-toolbar {
            display: flex;
            border-bottom: 1px solid #dedede;

            .tued-menu-holder {
                flex-grow: 1;
                border-right: 1px solid #dedede;

                .tued-menu-hamburger {
                    display: block;
                    padding: 10px 13px;
                    width: 48px;

                    span {
                        display: block;
                        height: 3px;
                        border-radius: 100px;
                        background-color: #6e6e6e;
                        margin: 3px 0;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .tued-main-btn {
                border-radius: 0;
                padding: 7px 8px;
                width: 135px;
                text-align: center;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 14px;

                &.tued-btn-default {
                    border: none;
                }
            }
        }
    }
}
