.tued-btn {
    display: inline-block;
    background-color: #fff;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1;
    color: #000;
    border: 1px solid $primary;
    outline: none !important;
    border-radius: 3px;
    transition: .12s all;

    &:hover {
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
    }

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }

    &.tued-btn-danger {
        &:hover {
            border-color: red;
            background-color: red;
        }
    }
}

.tued-main-btn {
    transition:
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

.tued-main-btn-success {
    background-color: $success;
    border: 1px solid $success;
    color: #fff;

    &:hover {
        background-color: $success-hovered;
    }
}

.tued-main-btn-default {
    background-color: #fff;
    border: none;

    &:hover {
        background-color: #f1f1f1;
    }
}
